@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    transition: all .5s;
    height: 15vh;
}

.day-mode {
    background-color: rgb(243, 242, 241);
    color: black !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    fill: black !important;
    transition: all .5s;
}

.icons {
    fill: black;
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.sun {
    fill: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.sun-dark {
    fill: black !important;
}

.btn {
    justify-self: center;
}

.wrapper {
    display: grid;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    grid-template-rows: repeat(autofit, minmax(1rem,2rem));
    padding: .9rem 3rem;
    box-sizing: border-box;
    
}

.header {
    padding-right: 10px;
    margin-bottom: 6rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    color: white;
    
    

}

.header a span {
    color: rgba(255, 208, 0);
}

.header--right {

    color:rgb(255, 208, 0);
    display: flex;
    justify-self: flex-end;
    font-family: roboto;
}

.header--left {
    display: flex;
    justify-items: center;
    margin-right: 0 !important;
    font-size: 2rem;
    letter-spacing:-3px;
    text-decoration: none;
    color: white;
    
}

main {
    display: grid;
    grid-template-rows: 70% 50%;
    margin-top: .5rem;
}

.article {
    justify-self: center;
    width: 75%;
    text-align: justify;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 3rem;
    padding-left: 2rem;
}

.article span {
    font-weight: 900;
}

nav{

    list-style: none;
    display: grid;
    justify-self: center;
    align-items: center;
    text-align: right;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: flex-start;

}

nav ul li {
    margin: 0 2rem;
}


.list--item {
    color: rgb(54, 54, 54);
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
    padding-bottom: 5px;
    position: relative;

}


.list--item::before {
    content: "";
    position: absolute;
    top: 1.3rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 208, 0);
    transform: scaleX(0);
    transition: transform .5s;
}

.list--item:hover::before {
    transform: scaleX(1);
}


.fa-twitter-square {
    width: 5rem;
    height: auto;
}

.footer {
    color: rgb(73, 73, 73);
    display: flexbox;
    justify-self: start;
    margin-top: 3rem;


}


.nav-mobile {
    display: none;

}


.link-list {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 6rem);
    margin-top: 2rem;
    grid-gap: 5px 0px;
}

.link-list li {
    display: inline;
    list-style: none;
}



@media only screen and (max-width: 768px) {
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
    }
    .day-mode {
        background-color: rgb(243, 242, 241);
        color: black !important;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper {
        display: grid;
        color: white;
        font-family: "Roboto";
        font-size: 1rem;
        padding: .8rem 1rem;
        box-sizing: border-box;
    }

    .article {
        justify-self: center;
        width: 90%;
        text-align: justify;
        font-size: 1.5rem;
        font-family: 'roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 3rem;
        padding-left: 0px;
        animation: myArticle 2s;
    
    }

    .header--right {

        color:rgb(255, 208, 0);
        display: none;
        justify-self: flex-end;
        font-family: roboto;
    }

    .footer {
        display: flexbox;
        justify-content: center;
        align-items: flex-end;
        

    }
    

    nav{
        list-style: none;
        display: none;
        justify-self: center;
        align-items: center;
        text-align: right;
    }

    .icon {
        display: block;
        justify-self: end;
        cursor: pointer;
        z-index: 5;

    
    }

    .bar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        display: flex;
        border-radius: 25px;
        transition: 1.45s;
        
    }

    .icon-dark {
        background-color: black !important;
        
    }

    .icon:hover div{
        background-color:rgb(255, 208, 0);
        
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        
    }

    .change .bar2 {
        opacity: 0;;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
    }

    .nav-mobile {
        background-color: rgb(15, 14, 12);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        color: white;
        
    }
     
    .nav-mobile-light{
        background-color: rgb(243, 242, 241);
        color: black !important;
        position: fixed;
    }

    .nav-mobile-light ul li a{
        color: black !important;
    }


    
    
    .nav-mobile ul {
        list-style: none;
        position: relative;
        text-align: center;
        margin: 15rem 0;
        margin-left: -1rem;
        font-size: 2rem;
        animation: textIn 1s;
        justify-items: center;
    }

    .nav-mobile ul li {
        margin-bottom: 3rem;
        backface-visibility: hidden;
        justify-items: center;
        align-items: center;
    }

    .mobile{
        text-decoration: none;
        color: white;
    }

    .mobile:hover {
        color:rgb(255, 208, 0);


    }

/*********ANIMATION****************/


    @keyframes slideIn {
        0% {
            opacity: 1;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideOut {
        0% {
            opacity: 1;
            transform: translateX(0%);

        }

        100% {
            opacity: 1;
            transform: translateX(-100%);

        }
    }

    @keyframes textIn {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


}

@keyframes myArticle {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






